/ Banner
%section#banner
  %header
    %h2 Lê Hoài Phương
  %p
    A Ruby on Rails developer and now working at
    = succeed "." do
      %a{href: "http://recruit.framgia.vn/"} Framgia Vietnam
    %br/

  %footer
    %a.button.style2.scrolly{href: "#first"} Popular Posts